[build]
  publish = "dist/spa"
  functions = "dist/functions"
  command = "npm run netlify-build"

[functions]
  directory = "dist/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
  NPM_VERSION = "8"